PUID=1000
PGID=1000
TZ=America/New_York
MEDIA_SHARE=/mnt/media
SEARCH_MODE=universal
INGEST_DIR=/books
USING_TOR=false
HIDE_LOCAL_AUTH=false
DISABLE_LOCAL_AUTH=false
OIDC_AUTO_REDIRECT=false
FILE_ORGANIZATION=organize
TEMPLATE_ORGANIZE={Author}/{PrimaryTitle}/{Title} ({Year})
TEMPLATE_AUDIOBOOK_ORGANIZE={Author}/{PrimaryTitle}/{Title} ({Year})

