VPN_SERVICE_PROVIDER=custom
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
WIREGUARD_PUBLIC_KEY=
WIREGUARD_ENDPOINT_IP=
WIREGUARD_ENDPOINT_PORT=51820
SERVER_COUNTRIES=
TZ=Etc/UTC

TS_AUTHKEY=tskey-auth-xxxx
TS_HOSTNAME=util

TAILNET_FQDN=util.your-tailnet-name.ts.net

N8N_DOMAIN=n8n.example.com

# Tailscale FQDN & IP Mappings for Uptime Kuma
TAILNET_SUFFIX=your-tailnet-name.ts.net
CORE_IP=100.64.0.1
ADDONS_IP=100.64.0.2
STREMIO_UTIL_IP=100.64.0.3
UTIL_IP=100.64.0.4
COMICS_IP=100.64.0.5
DNS_GATEWAY_IP=100.64.0.6
