# Required
TMDB_API_KEY=your_tmdb_api_key_here
TOKEN_SALT=your_token_salt_here
HOST_NAME=https://example.com
# GEMINI_API_KEY=your_gemini_api_key_here
# Optional
PORT=8000
REDIS_URL=your_redis_url_here
ADDON_ID=your_addon_id_here
ADDON_NAME=your_addon_name_here
TOKEN_TTL_SECONDS=0
AUTO_UPDATE_CATALOGS=true
