# Beszel Agent Configuration
# Get this value from the Beszel Hub UI (Add System -> Copy Key)
BESZEL_KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5..."
BESZEL_TOKEN=""

# Public URL used to access the Beszel Hub (change this if using a public domain)
BESZEL_APP_URL="https://your-vps-a-tailscale-fqdn/beszel"

# Set to true to disable standard password logins and force OIDC
BESZEL_DISABLE_PASSWORD_AUTH="true"
