VPN_SERVICE_PROVIDER=custom
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
WIREGUARD_PUBLIC_KEY=
WIREGUARD_ENDPOINT_IP=
WIREGUARD_ENDPOINT_PORT=51820
SERVER_COUNTRIES=
TZ=Etc/UTC

TS_AUTHKEY=tskey-auth-xxxx
TS_HOSTNAME=cloud

TAILNET_FQDN=cloud.your-tailnet-name.ts.net
