# User/Group IDs (find with: id $(whoami))
PUID=1001
PGID=1001
TZ=America/Toronto
# Paths
BASE_PATH=your_base_path_here
MEDIA_SHARE=your_media_share_here
# Plex
PLEX_CLAIM=your_plex_claim_here
PLEX_URL=http://example.com:32400
PLEX_TOKEN=your_plex_token_here
# API Keys
SERVER_IP=
SONARR_KEY=
RADARR_KEY=
MEMBARR_TOKEN=
