# STREMTHRU AUTH SETUP
STREMTHRU_AUTH=your_stremthru_auth_here
STREMTHRU_VAULT_SECRET=your_stremthru_vault_secret_here
STREMTHRU_STORE_AUTH=your_stremthru_store_auth_here
#STREMTHRU_STREMIO_LOCKED=true
STREMTHRU_BASE_URL=https://example.com
# STREMTHRU NEWS
STREMTHRU_NEWZ_MAX_CONNECTION_PER_STREAM=20
