# Monochrome environment variables
# Set AUTH_ENABLED=true to enable user authentication (requires Appwrite & PocketBase)
AUTH_ENABLED=false
AUTH_SECRET=changeme
APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
POCKETBASE_URL=
SESSION_MAX_AGE=2592000
